@model IEnumerable<EMarket.Areas.Client.Models.GioHang>
@{
    Layout = null;
}
@{ double total = 0;
    int quantity = 0;
 }
<div class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
        <i class="fa fa-shopping-cart"></i>
        <span>Giỏ Hàng</span>
        <div class="qty">@Model.Count()</div>
    </a>

    <div class="cart-dropdown">
        @if (Model.Any())
        {
        <div class="cart-list">

            @foreach (var item in Model)
            {
                <div class="product-widget">
                    <div class="product-img">
                        <img src="~/img/@item.HangHoa.Hinh" alt="">
                    </div>
                    <div class="product-body">
                        <h3 class="product-name"><a asp-controller="HangHoa">@item.HangHoa.TenHangHoa</a></h3>
                        <h4 class="product-price"><span class="qty">@(item.SoLuong)x</span>@item.HangHoa.Gia$</h4>
                    </div>
                    <a asp-controller="GioHang" asp-action="Xoa" asp-route-id="@item.HangHoa.HangHoaId" class="delete"><i class="fa fa-close"></i></a>
                </div>
                total += item.HangHoa.Gia;
                quantity += item.SoLuong;
            }
        </div>
        }
        <div class="cart-summary">
            <small>@quantity sản phẩm đã chọn</small>
            <h5>Tổng Tiền: @total</h5>
        </div>
        <div class="cart-btns">
            <a href="#">Thanh Toán  <i class="fa fa-arrow-circle-right"></i></a>
        </div>
    </div>
</div>
